*{
    margin: 7px;
    padding: 7px;
    text-decoration: none;
    /* list-style:lower-roman; */
}

body{
    background-color: midnightblue;
}

.encabezados{
    color:blue;
    bottom: unset;
    text-align: center;
    font-style: unset;
    font-family: 'Josefin Sans', sans-serif;
}

.formularios{
    color:blue;
    bottom: unset;
    text-align: left;
    font-family: 'Lilita One', cursive;
}